<section class="wrapper" id="home-section">
    <hgroup>
        <h1 class="section-header">T-shirts</h1>
        <p class="text-faded">Section description</p>
    </hgroup>

    <div class="products-grid">
        <div class="product-card">
            <img src="img/products/placeholder.jpg" alt="">
            <div class="product-info">
                <p class="product-title">T-shirt</p>
                <p class="product-description">Short product Description, not too long</p>
                <span>$30.00</span>
            </div>
        </div>
    </div>
</section>