<section class="wrapper" id="home-section">
    <hgroup>
        <h1 class="section-header">T-shirts</h1>
        <p class="text-faded">Section description</p>
    </hgroup>

    <div class="products-grid">
        <template x-data x-for="(product, index) in $store.products" :key="index">
            <div class="product-card">
                <img :src="`img/products/${product.productImage}`" alt="">
                <div class="product-info">
                    <p class="product-title" x-text="product.productName"></p>
                    <p class="product-description" x-text="product.productDescription || 'No description provided.'"></p>
                    <span x-text="product.productPrice + ` &euro;`"></span>
                </div>
            </div>
        </template>
    </div>
</section>