<section class="wrapper" id="privacy-section">
    <h1 class="section-header leading-18 text-primary">Privacy<br/>Policy</h1>

    <ul class="list text-xl flex flex-col">
        <li>We respect your privacy and are committed to protecting your personal information.</li>
        <li>This website does not collect or process personal information from visitors unless you voluntarily provide it to us.</li>
        <li>We do not sell, rent, or share personal information with third parties for advertising or marketing purposes.</li>
        <li>We may update this Privacy Policy from time to time. Any changes will be posted on this page.</li>
    </ul>
</section>